/*
*{
    border-style: solid;
}
*/

.asus-Logo {
    display: block; /*this will make the image a block element and not a inline element*/
    border: 15px double white;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
body{
    background-color: #850101;
    color: white;
    text-align: center;

}

h3{
    text-decoration: underline;
    font-size: 1.3em;
}

.top-page, h1{
    margin:auto;
    width: 50%;
    text-align: center;
    
}

.about{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.projects{ 
    margin: 60px;
    padding: 0;
    overflow: shown;  
}

ul{
    list-style: none;
    margin-left: 100px;
}

li{
    display: inline-block;
    max-width: 51px;
    padding: 100px;
    margin: 2% 5%;
    background-color: #333333;
}

li a:hover{
    background-color: blue;
    
}


footer{
    margin: 90px 0%;

}